.about {
    min-height: 2066px;
    padding: 24px 0 70px;
    &__title {
        font-size: 64px;
        line-height: 87px;
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 36px;
        line-height: 49px;
    }
    &__block {
        margin-top: 65px;
        display: flex;
        flex-flow: row wrap;
        &:nth-child(even) {
            flex-flow: row-reverse wrap;
            .about__block-descr {
                margin-right: 0;
                margin-left: 92px;
            }
        }
        &-descr {
            margin-right: 92px;
            flex: 0 1 598px;
            min-height: 440px;
            &-text {
                font-size: 18px;
                line-height: 25px;
                &:not(:first-child) {
                    margin-top: 10px;
                }
                &-list {
                    padding-left: 20px;
                    &-item {
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }
            &-icons {
                margin-top: 27px;
                max-width: 460px;
                display: flex;
                justify-content: space-between;
                &-icon {
                    flex: 0 1 177px;
                    max-height: 165px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &-buttons {
                margin-top: 88px;
                display: flex;
                justify-content: space-between;
                column-gap: 25px;
                align-items: center;
                &-btn {
                    max-width: 265px;
                    height: 74px;
                    padding: 0 10px;
                    background-color: $yellow;
                    border-radius: 20px;
                    &:hover {
                        background-color: $deepYellow;
                    }
                    &:active {
                        background-color: $lightYellow;
                    }
                }
            }
        }
        &-carousel {
            flex: 0 1 524px;
            min-height: 524px;
            padding: 16px 0 0 16px;
            &-slide {
                &-wrapper {
                    height: 100%;
                }
            }
            &-image {
                max-width: 524px;
                max-height: 468px;
                height: 100%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: -16px;
                    left: -16px;
                    width: 100%;
                    height: 100%;
                    background-color: $black;
                    border-radius: 20px;
                    z-index: -1;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
            &-controls {
                position: absolute;
                display: inline-flex;
                justify-content: space-between;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                width: 190px;
                height: 55px;
                z-index: 9999;
                &-prev,
                &-next {
                    height: 100%;
                    width: 37px;
                }
                &-prev::after,
                &-next::after {
                    position: absolute;
                    bottom: 0;
                    content: url("../icons/carousel/arrow-left.svg");
                    width: 37px;
                    height: 28px;
                    cursor: pointer;
                }
                &-next::after {
                    transform: rotateZ(180deg);
                }
            }
        }
    }
}
