$white: #fff;
$black: #000;
$halfTransparentBackground: rgba(151, 151, 151, 0.6);
$whiteTransparent: rgba(255, 255, 255, 0);
$grey: #BEBEBE;
$yellow: #FFD600;
$lightYellow: #FFE86E;
$deepYellow: #FFDA1A;