@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto+Slab:wght@700&display=swap');

@import 'base/variables';
@import 'base/mixins';

html, body {
    font-family: 'Open Sans', sans-serif;
    color: $black;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 10px;
}

ul,ol,p {
    margin: 0;
    padding: 0;
}

.btn {
    @include btnLayout;
}

.title, .subtitle {
    font-weight: 700;
    margin: 0;
    text-align: center;
}

@import 'blocks/index/header';
@import 'blocks/index/promo';
@import 'blocks/index/test-lesson';
@import 'blocks/index/courses';
@import 'blocks/index/carousel';
@import 'blocks/index/advantages';
@import 'blocks/index/pricing';
@import 'blocks/index/request';
@import 'blocks/index/footer';
@import 'blocks/index/pageup';
@import 'blocks/vocal/header';
@import 'blocks/vocal/vocal-article';
@import 'blocks/vocal/learn';
@import 'blocks/vocal/teachers';
// @import 'blocks/piano/header';
@import 'blocks/piano/piano-article';
// @import 'blocks/piano/learn';
// @import 'blocks/piano/teachers';
// @import 'blocks/guitar/header';
@import 'blocks/guitar/guitar-article';
// @import 'blocks/guitar/learn';
// @import 'blocks/guitar/teachers';
// @import 'blocks/actor/header';
@import 'blocks/actor/actor-article';
// @import 'blocks/actor/learn';
// @import 'blocks/actor/teachers';
@import 'blocks/about/about';
@import 'blocks/404';
@import 'blocks/media';