@media screen and (max-width: 1200px) {
    .header {
        &__nav {
            &-list {
                &-item {
                    &:not(:first-child) {
                        margin-left: 15px;
                    }
                }
            }
            &-link {
                font-size: 20px;
            }
        }
        &__btn {
            width: 225px;
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            font-size: 41px;
            line-height: 48px;
        }
        &__subtitle {
            font-size: 32px;
            line-height: 46px;
        }
    }
    .courses {
        &__title {
            font-size: 80px;
            line-height: 120px;
        }
        &__inner {
            gap: 50px 200px;
            justify-content: center;
        }
    }
    .test-lesson {
        &__inner {
            justify-content: center;
            gap: 25px 225px;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding-bottom: 29px;
        &__logo {
            flex: 0 1 115px;
        }
        &__btn {
            width: 160px;
            height: 66px;
            font-size: 18px;
            line-height: 28px;
        }
        &__nav {
            &-link {
                font-size: 16px;
            }
        }
    }
    .promo {
        &__inner {
            margin-top: 220px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
    .test-lesson {
        &__title {
            font-size: 30px;
            line-height: 36px;
        }
        &__card {
            &-subtitle {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .courses {
        &__title {
            font-size: 65px;
            line-height: 100px;
        }
        &__inner {
            gap: 50px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 10px;
        &__nav {
            position: absolute;
            top: 111px;
            visibility: hidden;
            left: 0;
            width: 100%;
            &.open {
                visibility: visible;
            }
            &-list {
                flex-direction: column;
                padding: 10px 40px;
                background-color: $halfTransparentBackground;
                &-item {
                    &:not(:first-child) {
                        margin: 0;
                    }
                }
            }
            &-link {
                &:hover {
                    color: $white;
                }
            }
        }
        &__menu-button-sm {
            display: block;
        }
        &__btn {
            &:hover {
                background: linear-gradient(180deg, $white 0%, $whiteTransparent 100%);
            }
        }
    }
    .promo {
        min-height: 600px;
        padding-bottom: 50px;
        &__inner {
            margin-top: 170px;
        }
        &__title {
            font-size: 34px;
            line-height: 42px;
        }
        &__subtitle {
            margin-top: 34px;
            font-size: 26px;
            line-height: 38px;
        }
        &__address {
            margin: 20px auto 0;
            max-width: 220px;
            font-size: 18px;
            line-height: 30px;
        }
        &__phone {
            margin-top: 22px;
            font-size: 24px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .test-lesson {
        padding-top: 40px;
        &__inner {
            gap: 25px 135px;
        }
    }
    .courses {
        &__title {
            font-size: 48px;
            line-height: 72px;
        }
        &__inner {
            margin-top: 30px;
            gap: 25px;
        }
        &__card {
            &:hover {
                transform: initial;
            }
            &-btn {
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &__logo {
            flex: 0 1 100px;
        }
        &__nav {
            top: 98px;
        }
        &__btn {
            width: 85px;
            font-size: 16px;
            line-height: 18px;
            border-radius: 10px;
        }
    }
    .promo {
        min-height: 500px;
        &__inner {
            margin-top: 125px;
        }
        &__address {
            margin: 20px auto 0;
            max-width: 195px;
            font-size: 16px;
            line-height: 24px;
        }
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__subtitle {
            margin-top: 24px;
            font-size: 24px;
            line-height: 36px;
        }
        &__phone {
            font-size: 20px;
        }
    }
    .test-lesson {
        padding-bottom: 30px;
        &__inner {
            margin-top: 30px;
        }
        &__card {
            flex: 0 1 177px;
            margin: 0 auto;
        }
    }
    .courses {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
    }
}

@media screen and (max-width: 430px) {
    .courses {
        &__title {
            font-size: 26px;
            line-height: 40px;
        }
    }
}
