@media screen and (max-width: 1200px) {
    .header {
        &__nav {
            &-list {
                &-item {
                    &:not(:first-child) {
                        margin-left: 15px;
                    }
                }
            }
            &-link {
                font-size: 20px;
            }
        }
        &__btn,
        .header-vocal__btn {
            width: 225px;
            font-size: 24px;
        }
    }
    .promo {
        &__title {
            font-size: 41px;
            line-height: 48px;
        }
        &__subtitle {
            font-size: 32px;
            line-height: 46px;
        }
    }
    .courses {
        &__title {
            font-size: 80px;
            line-height: 120px;
        }
        &__inner {
            gap: 50px 200px;
            justify-content: center;
        }
    }
    .test-lesson {
        &__inner {
            justify-content: center;
            gap: 25px 225px;
        }
    }
    .carousel {
        &__title {
            font-size: 42px;
            line-height: 60px;
        }
        &__slider {
            margin-top: 25px;
            &-content {
                &-title {
                    max-width: 190px;
                    font-size: 30px;
                    line-height: 45px;
                }
                &-text {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 28px;
                }
                &-btn {
                    margin-top: 43px;
                    max-width: 245px;
                    height: 60px;
                }
            }
        }
        &__controls {
            height: 68px;
        }
    }
    .advantages {
        &__list {
            column-gap: 35px;
        }
    }
    .pricing {
        &__list {
            gap: 50px;
        }
    }
    .request {
        &__form {
            flex-basis: 580px;
            padding: 85px 35px 40px 50px;
            min-height: 420px;
        }
        &__info-list {
            min-height: 300px;
            &-item {
                &-title,
                &-descr {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    .footer {
        &__logo {
            flex: 0 1 120px;
            height: 91px;
        }
        &__contacts,
        &__location {
            font-size: 20px;
            line-height: 30px;
        }
        &__contacts {
            flex: 0 1 310px;
        }
        &__location {
            flex: 0 1 260px;
        }
        &__social {
            flex: 0 1 200px;
        }
    }
    .vocal-article,
    .piano-article,
    .guitar-article,
    .actor-article {
        &__title {
            font-size: 86px;
            line-height: 120px;
        }
        &__inner {
            margin-top: 50px;
        }
        &__descr {
            flex: 0 1 415px;
        }
        &__text {
            font-size: 16px;
            line-height: 24px;
        }
        &__image {
            flex: 0 1 512px;
        }
    }
    .learn {
        min-height: 375px;
        &__title {
            font-size: 20px;
            line-height: 30px;
        }
        &__descr {
            flex: 0 1 400px;
        }
        &__list {
            padding: 0 0 0 22px;
            &-item {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__images {
            flex: 0 1 536px;
        }
        &__image {
            max-width: 250px;
        }
    }
    .about {
        &__block {
            &:nth-child(even) {
                .about__block-descr {
                    margin-right: 0;
                    margin-left: 35px;
                }
            }
            &-descr {
                margin-right: 35px;
                flex: 0 1 450px;
                &-text {
                    font-size: 16px;
                    line-height: 24px;
                    &-list {
                        padding: 0 0 0 18px;
                        &-item {
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }
                &-icons {
                    justify-content: space-around;
                    &-icon {
                        flex: 0 1 150px;
                        max-height: 140px;
                    }
                }
                &-buttons {
                    margin-top: 70px;
                    &-btn {
                        height: 65px;
                        font-size: 24px;
                        line-height: 36px;
                    }
                }
            }
            &-carousel {
                flex: 0 1 475px;
            }
        }
    }
    .request__block {
        padding: 63px 0;
        .icon {
            max-width: 150px;
            height: 160px;
            &.first {
                right: calc(100vw - 150px);
            }
            &.second {
                right: calc(100vw - 160px);
            }
            &.third {
                left: calc(100vw - 150px);
            }
            &.fourth {
                left: calc(100vw - 160px);
            }
        }
    }
    .contacts {
        &__map {
            max-width: 615px;
        }
    }
    .team {
        &__list {
            &-person {
                &-descr {
                    max-width: 400px;
                    font-size: 22px;
                    line-height: 33px;
                }
                &-info {
                    max-width: 500px;
                    &-photo {
                        height: 400px;
                    }
                    &-actions {
                        max-width: 470px;
                    }
                }
            }
            &-btn {
                max-width: 200px;
                min-height: 60px;
                font-size: 22px;
                line-height: 33px;
            }
        }
    }
    .course {
        &__cards {
            justify-content: space-around;
            flex-flow: row wrap;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        padding-bottom: 29px;
        &__logo {
            flex: 0 1 115px;
        }
        &__btn,
        .header-vocal__btn {
            width: 160px;
            height: 66px;
            font-size: 18px;
            line-height: 28px;
        }
        &__nav {
            &-link {
                font-size: 16px;
            }
        }
    }
    .promo {
        &__inner {
            margin-top: 220px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
    .test-lesson {
        &__title {
            font-size: 30px;
            line-height: 36px;
        }
        &__card {
            &-subtitle {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
    .courses {
        &__title {
            font-size: 65px;
            line-height: 100px;
        }
        &__inner {
            gap: 50px;
        }
    }
    .carousel {
        min-height: 650px;
        padding-bottom: 50px;
        &__title {
            margin-left: 45px;
            font-size: 36px;
            line-height: 48px;
        }
        &__slider {
            margin-top: 25px;
            &-slide {
                &-wrapper {
                    column-gap: 25px;
                }
            }
            &-content {
                &-title {
                    max-width: 160px;
                    font-size: 24px;
                    line-height: 36px;
                }
                &-text {
                    margin-top: 15px;
                    font-size: 14px;
                    line-height: 25px;
                }
                &-btn {
                    margin-top: 35px;
                    max-width: 200px;
                    height: 50px;
                    font-size: 24px;
                }
            }
        }
        &__controls {
            height: 68px;
        }
    }
    .advantages {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
        &__list {
            &-item {
                max-width: 300px;
                &::before {
                    top: -140px;
                    font-size: 260px;
                    line-height: 260px;
                }
                &-title {
                    font-size: 22px;
                    line-height: 24px;
                }
                &-text {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        &__btn {
            height: 75px;
        }
    }
    .pricing {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
        &__list {
            margin-top: 50px;
            &-item {
                min-height: 267px;
                &-title {
                    font-size: 28px;
                    line-height: 42px;
                }
                &-total {
                    margin-top: 30px;
                }
            }
        }
    }
    .request {
        &__info-list {
            &-item {
                &:not(:first-child) {
                    margin-top: 15px;
                }
                &-title,
                &-descr {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
    .footer {
        &__logo {
            flex: 0 1 120px;
            height: 91px;
        }
        &__contacts,
        &__location {
            font-size: 16px;
            line-height: 24px;
        }
        &__contacts {
            flex: 0 1 250px;
        }
        &__location {
            flex: 0 1 220px;
        }
        &__social {
            flex: 0 1 125px;
            &-link {
                width: 35px;
                height: 35px;
            }
        }
    }
    .vocal-article,
    .piano-article,
    .guitar-article,
    .actor-article {
        min-height: 600px;
        &__title {
            font-size: 76px;
            line-height: 100px;
        }
        &__inner {
            margin-top: 35px;
        }
        &__descr {
            flex: 0 1 325px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
        }
        &__image {
            flex: 0 1 400px;
        }
    }
    .learn {
        min-height: 330px;
        &__title {
            font-size: 16px;
            line-height: 24px;
        }
        &__descr {
            flex: 0 1 320px;
        }
        &__list {
            padding: 0 0 0 18px;
            &-item {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &__images {
            flex: 0 1 410px;
        }
        &__image {
            max-width: 200px;
            height: 175px;
        }
    }
    .teachers {
        padding: 46px 0 100px;
        min-height: 860px;
        &__list {
            gap: 75px;
            &-item {
                flex: 0 1 325px;
            }
        }
    }
    .about {
        min-height: 1810px;
        &__title {
            font-size: 60px;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 45px;
        }
        &__block {
            &:nth-child(even) {
                .about__block-descr {
                    margin-right: 0;
                    margin-left: 30px;
                }
            }
            &-descr {
                margin-right: 30px;
                flex: 0 1 375px;
                &-text {
                    font-size: 14px;
                    line-height: 22px;
                    &-list {
                        padding: 0 0 0 16px;
                        &-item {
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
                &-icons {
                    justify-content: space-around;
                    &-icon {
                        flex: 0 1 150px;
                        max-height: 140px;
                    }
                }
                &-buttons {
                    margin-top: 40px;
                    &-btn {
                        height: 65px;
                        font-size: 24px;
                        line-height: 36px;
                    }
                }
            }
            &-carousel {
                flex: 0 1 340px;
                min-height: 440px;
                &-image {
                    height: 375px;
                }
                &-controls {
                    bottom: 0;
                }
            }
        }
    }
    .request__block {
        &-form {
            max-width: 530px;
            &-name {
                &::placeholder {
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 42px;
                }
            }
            &-phone {
                &::placeholder {
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 42px;
                }
            }
        }
        .icon {
            max-width: 110px;
            height: 105px;
            &.first {
                right: calc(100vw - 120px);
            }
            &.second {
                right: calc(100vw - 115px);
            }
            &.third {
                left: calc(100vw - 120px);
            }
            &.fourth {
                left: calc(100vw - 115px);
            }
        }
    }
    .contacts {
        min-height: 500px;
        &__map {
            max-width: 440px;
            min-height: 450px;
        }
        &__info {
            max-width: 250px;
            min-height: 200px;
            &-address {
                font-size: 20px;
                line-height: 30px;
                &::before {
                    width: 30px;
                    height: 36px;
                }
            }
            &-phone {
                margin-top: 15px;
                font-size: 20px;
                line-height: 30px;
            }
            &-btn {
                height: 65px;
            }
        }
    }
    .team {
        &__list {
            &-person {
                min-height: 500px;
                &:not(:first-child) {
                    margin-top: 50px;
                }
                &-descr {
                    max-width: 350px;
                    font-size: 19px;
                    line-height: 30px;
                }
                &-info {
                    max-width: 350px;
                    &-photo {
                        height: 350px;
                    }
                    &-actions {
                        margin: 25px auto 0;
                        max-width: 320px;
                    }
                }
            }
            &-btn {
                max-width: 150px;
                min-height: 50px;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .course {
        &__icons {
            &-icon {
                max-width: 150px;
                height: 160px;
            }
        }
    }
    .rules {
        &__title {
            font-size: 42px;
            line-height: 60px;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding-bottom: 10px;
        &__nav {
            position: absolute;
            top: 111px;
            visibility: hidden;
            left: 0;
            width: 100%;
            &.open {
                visibility: visible;
            }
            &-list {
                flex-direction: column;
                padding: 10px 40px;
                background-color: $halfTransparentBackground;
                &-item {
                    &:not(:first-child) {
                        margin: 0;
                    }
                }
            }
            &-link {
                &:hover {
                    color: $white;
                }
            }
        }
        &__menu-button-sm {
            display: block;
        }
        &__btn {
            &:hover {
                background: linear-gradient(180deg, $white 0%, $whiteTransparent 100%);
            }
        }
    }
    .promo {
        min-height: 600px;
        padding-bottom: 50px;
        &__inner {
            margin-top: 170px;
        }
        &__title {
            font-size: 34px;
            line-height: 42px;
        }
        &__subtitle {
            margin-top: 34px;
            font-size: 26px;
            line-height: 38px;
        }
        &__address {
            margin: 20px auto 0;
            max-width: 220px;
            font-size: 18px;
            line-height: 30px;
        }
        &__phone {
            margin-top: 22px;
            font-size: 24px;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .test-lesson {
        padding-top: 40px;
        &__inner {
            gap: 25px 135px;
        }
    }
    .courses {
        &__title {
            font-size: 48px;
            line-height: 72px;
        }
        &__inner {
            margin-top: 30px;
            gap: 25px;
        }
        &__card {
            &:hover {
                transform: initial;
            }
            &-btn {
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }
    .carousel {
        &__title {
            margin: 0;
            text-align: center;
        }
        &__slider {
            &-slide {
                &-wrapper {
                    padding: 20px;
                    flex-direction: column;
                    column-gap: unset;
                    row-gap: 20px;
                }
            }
            &-image {
                flex: 0 1 auto;
                max-width: 440px;
                height: 440px;
                width: 100%;
                img {
                    height: 100%;
                }
            }
            &-content {
                flex: 0 1 auto;
                &-title {
                    max-width: 100%;
                }
                &-btn {
                    margin: 35px auto 0;
                    &:hover {
                        background-color: $white;
                    }
                }
            }
        }
        &__controls {
            display: none;
        }
    }
    .advantages {
        &__list {
            flex-flow: column wrap;
            column-gap: unset;
            align-items: center;
            &-item {
                max-width: 350px;
                &::before {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &-title {
                    text-align: center;
                }
                &-text {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
        }
        &__btn {
            &:active {
                background-color: $white;
            }
        }
    }
    .pricing {
        &__list {
            &-item {
                max-width: 250px;
                &-btn {
                    &:active {
                        background-color: $white;
                    }
                }
            }
        }
    }
    .request {
        min-height: 690px;
        &__title {
            text-align: center;
        }
        &__inner {
            flex-flow: column nowrap;
            column-gap: 0;
            row-gap: 25px;
        }
        &__info-list {
            flex-basis: 250px;
            min-height: 250px;
        }
        &__form {
            width: 100%;
            flex-basis: 420px;
            &-btn {
                &:active {
                    background-color: $white;
                }
            }
        }
    }
    .footer {
        padding-bottom: 30px;
        &__inner {
            flex-flow: column nowrap;
        }
        &__contacts,
        &__location,
        &__social {
            margin-top: 30px;
            flex: 0 1 auto;
            text-align: center;
        }
        &__contacts {
            row-gap: 10px;
        }
        &__social {
            max-width: 350px;
        }
    }
    .pageup {
        width: 60px;
        height: 60px;
        transform: translateX(calc(100vw - 70px));
    }
    .header-vocal {
        &__btn {
            &:hover {
                background-color: $white;
            }
        }
    }
    .vocal-article,
    .piano-article,
    .guitar-article,
    .actor-article {
        padding: 35px 0 50px;
        &__title {
            font-size: 66px;
            line-height: 90px;
        }
        &__inner {
            flex-flow: column nowrap;
            row-gap: 30px;
        }
        &__descr {
            flex: 0 1 auto;
            p + p {
                margin-top: 10px;
            }
        }
        &__text {
            font-size: 16px;
        }
        &__image {
            width: 100%;
            flex: initial;
            height: 313px;
        }
    }
    .learn {
        padding: 50px 0;
        &__inner {
            flex-flow: column nowrap;
            row-gap: 25px;
        }
        &__images {
            flex: 0 1 auto;
            width: 100%;
            justify-content: space-around;
        }
        &__image {
            max-width: 250px;
            height: 200px;
        }
        &__descr {
            flex: 0 1 auto;
            width: 100%;
        }
    }
    .teachers {
        min-height: 800px;
        padding-bottom: 50px;
        &__list {
            margin-top: 50px;
            flex-flow: column nowrap;
            gap: 50px 0;
            &-item {
                flex: initial;
                &-card {
                    width: 100%;
                    &-photo {
                        flex: initial;
                        height: 450px;
                    }
                }
            }
        }
    }
    .about {
        padding: 24px 0 50px;
        &__title {
            font-size: 50px;
            line-height: 75px;
        }
        &__subtitle {
            font-size: 22px;
            line-height: 32px;
        }
        &__block {
            margin-top: 35px;
            flex-flow: column-reverse nowrap;
            &:nth-child(even) {
                flex-flow: column-reverse nowrap;
                .about__block-descr {
                    margin: 20px 0 0 0;
                }
            }
            &-descr {
                margin: 20px 0 0 0;
                flex: 0 1 auto;
                min-height: 350px;
                &-icons {
                    max-width: 100%;
                }
                &-buttons {
                    &-btn {
                        &:hover {
                            background-color: $yellow;
                        }
                    }
                }
            }
            &-carousel {
                width: 100%;
                min-height: 400px;
                flex: 0 1 auto;
                &-controls {
                    display: none;
                }
            }
        }
    }
    .error {
        padding: 50px 0 50px;
    }
    .request__block {
        min-height: 500px;
        padding: 63px 0 0 0;
        &-title {
            font-size: 30px;
            line-height: 45px;
        }
        &-form {
            max-width: 530px;
            &-name {
                min-height: 40px;
                &::placeholder {
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
            &-phone {
                min-height: 40px;
                &::placeholder {
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 36px;
                }
            }
        }
        .icon {
            display: none;
        }
    }
    .contacts {
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
        &__inner {
            margin-top: 15px;
            flex-flow: column nowrap;
        }
        &__map {
            margin: 0;
            max-width: 100%;
        }
        &__info {
            margin-top: 60px;
            max-width: 100%;
            min-height: 150px;
            text-align: center;
            &-address {
                display: inline-block;
                font-size: 24px;
                line-height: 36px;
                &::before {
                    width: 33px;
                    height: 45px;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &-btn {
                margin: 20px auto 0;
                &:hover {
                    background-color: $yellow;
                }
            }
        }
    }
    .team {
        padding: 50px 0 0 0;
        &__title {
            font-size: 42px;
            line-height: 60px;
        }
        &__list {
            margin-top: 25px;
            &-person {
                min-height: 500px;
                &:not(:first-child) {
                    margin-top: 50px;
                }
                &-title {
                    font-size: 28px;
                    line-height: 42px;
                }
                &-content {
                    margin-top: 25px;
                    flex-flow: column nowrap;
                }
                &-descr {
                    max-width: 100%;
                    font-size: 18px;
                    line-height: 27px;
                    &-quote {
                        margin-top: 10px;
                    }
                }
                &-info {
                    margin-top: 25px;
                    max-width: 100%;
                    &-photo {
                        height: 400px;
                    }
                    &-actions {
                        margin: 25px auto 0;
                        max-width: calc(100% - 30px);
                    }
                }
            }
            &-btn {
                max-width: 250px;
                min-height: 60px;
                font-size: 20px;
                line-height: 30px;
                &:hover {
                    background-color: $yellow;
                }
            }
        }
    }
    .course {
        &__icons {
            &-icon {
                max-width: 120px;
                height: 130px;
            }
        }
        &__cards {
            &-card {
                margin: 50px auto 0;
                &:hover {
                    transform: unset;
                }
            }
        }
        &__card {
            &-btn {
                &:hover {
                    background-color: $white;
                }
            }
        }
    }
    .rules {
        padding: 50px 0 0 0;
        &__inner {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &__logo {
            flex: 0 1 100px;
        }
        &__nav {
            top: 98px;
        }
        &__btn,
        .header-vocal__btn {
            width: 85px;
            font-size: 16px;
            line-height: 18px;
            border-radius: 10px;
        }
    }
    .promo {
        min-height: 500px;
        &__inner {
            margin-top: 125px;
        }
        &__address {
            margin: 20px auto 0;
            max-width: 195px;
            font-size: 16px;
            line-height: 24px;
        }
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__subtitle {
            margin-top: 24px;
            font-size: 24px;
            line-height: 36px;
        }
        &__phone {
            font-size: 20px;
        }
    }
    .test-lesson {
        padding-bottom: 30px;
        &__inner {
            margin-top: 30px;
        }
        &__card {
            flex: 0 1 177px;
            margin: 0 auto;
        }
    }
    .courses {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
    }
    .carousel {
        min-height: 500px;
        &__slider {
            &-image {
                height: 300px;
            }
            &-content {
                &-title {
                    font-size: 20px;
                    line-height: 28px;
                }
                &-text {
                    margin-top: 10px;
                    font-size: 13px;
                    line-height: 22px;
                }
                &-btn {
                    margin-top: 20px;
                }
            }
        }
    }
    .advantages {
        &__list {
            margin-top: 90px;
            row-gap: 130px;
            &-item {
                max-width: 100%;
                &::before {
                    top: -100px;
                    font-size: 215px;
                    line-height: 215px;
                }
                &-title {
                    font-size: 20px;
                    line-height: 22px;
                }
                &-text {
                    margin-top: 10px;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
        &__btn {
            margin-top: 35px;
            max-width: 250px;
            height: 70px;
            font-size: 24px;
            line-height: 36px;
        }
    }
    .pricing {
        padding-bottom: 50px;
        &__list {
            margin-top: 25px;
            gap: 25px;
        }
    }
    .request {
        min-height: 780px;
        &__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__form {
            padding: 40px 15px 25px 25px;
            min-height: 325px;
            flex-basis: 325px;
            &-phone {
                margin-top: 50px;
            }
            &-btn {
                margin: 50px auto 0;
            }
        }
        &__info {
            &-list {
                flex-basis: 325px;
                min-height: 325px;
            }
        }
    }
    .pageup {
        width: 50px;
        height: 50px;
        transform: translateX(calc(100vw - 50px));
    }
    .footer {
        &__location {
            padding: 0;
            max-width: 250px;
            &::before {
                display: none;
            }
        }
        &__social {
            max-width: 200px;
        }
    }
    .vocal-article,
    .piano-article,
    .guitar-article,
    .actor-article {
        padding: 20px 0 50px;
        &__title {
            font-size: 60px;
            line-height: 90px;
        }
        &__inner {
            margin-top: 10px;
        }
    }
    .piano-article {
        &__title {
            font-size: 48px;
            line-height: 72px;
        }
    }
    .actor-article {
        &__title {
            font-size: 40px;
            line-height: 60px;
        }
    }
    .learn {
        padding: 20px 0 50px;
        &__title {
            font-size: 14px;
            line-height: 22px;
        }
        &__list {
            padding: 0 0 0 16px;
            &-item {
                font-size: 14px;
                line-height: 22px;
            }
        }
        &__images {
            flex-flow: column nowrap;
        }
        &__image {
            max-width: 100%;
            height: 242px;
            &:not(:first-child) {
                margin-top: 25px;
            }
        }
    }
    .teachers {
        padding: 46px 0 50px;
        &__title {
            font-size: 28px;
            line-height: 42px;
        }
        &__list {
            margin-top: 30px;
        }
    }
    .actor-teachers {
        &__title {
            font-size: 26px;
        }
    }
    .about {
        &__title {
            font-size: 42px;
            line-height: 60px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 26px;
        }
        &__block {
            &-descr {
                &-buttons {
                    &-btn {
                        height: 45px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
            &-carousel {
                min-height: 300px;
                &-image {
                    height: 300px;
                }
            }
        }
    }
    .error {
        min-height: 600px;
        &__inner {
            min-height: 500px;
        }
        &__image {
            height: 235px;
            width: calc(100% - 20px);
        }
        &__title {
            font-size: 26px;
            line-height: 40px;
        }
        &__descr {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .request__block {
        padding: 30px 0 0 0;
        min-height: 400px;
        &-form {
            &-name {
                &::placeholder {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            &-phone {
                &::placeholder {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    .team {
        &__title {
            font-size: 36px;
            line-height: 48px;
        }
        &__list {
            &-person {
                &-descr {
                    font-size: 18px;
                    line-height: 28px;
                }
                &-info {
                    max-width: 500px;
                    &-photo {
                        height: 300px;
                    }
                }
            }
            &-btn {
                max-width: 130px;
                min-height: 50px;
                font-size: 14px;
                line-height: 21px;
            }
        }
    }
    .course {
        &__icons {
            flex-flow: row wrap;
            &-icon {
                margin-right: 25px;
            }
        }
    }
    .rules {
        &__title {
            font-size: 32px;
            line-height: 48px;
        }
    }
}

@media screen and (max-width: 430px) {
    .courses {
        &__title {
            font-size: 26px;
            line-height: 40px;
        }
    }
}
