.contacts {
    min-height: 700px;
    padding: 50px 0 0 0;
    &__title {
        font-size: 48px;
        line-height: 54px;
    }
    &__inner {
        margin-top: 37px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__map {
        margin-right: 20px;
        max-width: 930px;
        width: 100%;
        min-height: 600px;
        border: 1px solid $black;
    }
    &__info {
        padding: 0 5px;
        max-width: 280px;
        width: 100%;
        min-height: 222px;
        &-address {
            margin: 0;
            position: relative;
            font-size: 24px;
            line-height: 33px;
            &::before {
                content: url("../icons/footer/map-marker-alt-solid.svg");
                width: 33px;
                height: 53px;
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-phone {
            margin-top: 33px;
            display: block;
            font-size: 24px;
            line-height: 33px;
            color: $black;
            text-align: center;
            text-decoration: none;
            &:hover {
                color: $black;
                text-decoration: none;
            }
        }
        &-btn {
            margin-top: 20px;
            max-width: 265px;
            height: 74px;
            padding: 0 10px;
            background-color: $yellow;
            border-radius: 20px;
            &:hover {
                background-color: $deepYellow;
            }
            &:active {
                background-color: $lightYellow;
            }
        }
    }
}
